body {
    background-color: rgb(201, 231, 217);
    color: rgb(235, 227, 217);
}

.form-control,
.form-control:focus {
    background-color: rgb(216, 232, 248);
}

.jumbo-color {
    background-color: rgb(236, 236, 208);
}