body {
    background-color:  rgb(44, 29, 68);
    color: rgb(235, 227, 217);
}

.form-control,
.form-control:focus {
    background-color: rgb(95, 61, 146);
}

.jumbo-color {
    background-color: rgb(236, 236, 208);
}
